{% extends 'StudentBundle::base_student.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-8 ">
            <div class="col-md-12 row-box title-course-category">
                <h2 class="text-center">{{ courseCategory.name }}</h2>
            </div>
            <div class="col-md-12 row-box">
                <h3 class="text-center">Documents</h3>
                <hr>
                <div class="row col-md-12 custyle">
                    <table class="table custab sortable">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Date</th>
                            <th>Type</th>
                        </tr>
                        </thead>
                        {% for docRelation in courseCategory.docRelation %}
                            {% if docRelation.document is not null and docRelation.available == true  %}
                                <tr class="student-tr event-listener"
                                    data-href="{{ asset('uploads/document/' ~ docRelation.document.path) }}"
                                    data-name="{{ docRelation.document.name }}">
                                    <td>{{ docRelation.document.name }}</td>
                                    <td>{{ docRelation.document.date|date('d-m-Y') }}</td>
                                    <td>{{ docRelation.document.type }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}

                    </table>
                </div>
            </div>
            <div class="col-md-12 row-box">
                <h3 class="text-center">Exercices</h3>
                <hr>
                <div class="row col-md-12 custyle">
                    <table class="table custab sortable">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Date</th>
                            <th>Note</th>
                        </tr>
                        </thead>
                        {% for docRelation in courseCategory.docRelation %}
                            {% if docRelation.qcm is not null and docRelation.available == true %}
                                <tr class="student-tr qcm-tr" data-qcm-id="{{ docRelation.qcm.id  }}"
                                    data-href="{{ path('qcm_display_questions', {"id":docRelation.qcm.id}) }}">
                                    <td class="named">{{ docRelation.qcm.name }}</td>
                                    <td>{{ docRelation.qcm.date|date('d-m-Y') }}</td>
                                    <td>
                                        <a href="#" class="btn btn-xs btn-primary grade">Mes notes</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        {% include 'StudentBundle:part:calendar.html.twig' %}
    </div>
<div id="gradeModal"></div>
{% endblock %}
{% block javascripts %}
    <script>
        $('.doc-tr').click(function () {
            window.open($(this).attr('data-href'), '_blank');
        })


        $('.named').click(function () {
            window.location = $(this).parent().attr('data-href');
        })


    </script>
{% endblock %}