<html>
<head>
    <link rel="stylesheet" href="{{ absolute_url(asset('public/css/bootstrap.min.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('public/css/student/main.css')) }}">
</head>
<body>
{% for student in section.students %}
<div class= {% if loop.index != 1 %} must-break {% endif %}>
    <div>
        <img src="{{ absolute_url(asset('public/img/logo-230.png')) }}" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Section {{ section.name }}</h2>
                <table class="table table-striped custab sortable" id="section-table">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Horaires</th>
                        <th>Durées</th>
                    </tr>
                    </thead>
                    <h3 class="text-center">{{ student.firstName }} {{ student.lastName }}
                    </h3>
                    {% for retrieveTime in student.retrieveTime %}
                        <tr>
                            <td>{{ retrieveTime.date|date('Y-m-d') }}</td>
                            <td>De {{ retrieveTime.beginDate|date('H:i') }}
                                à {{ retrieveTime.date|date('H:i') }} </td>
                            <td>{{ retrieveTime.time|date('H:i') }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-2 ">
                        <div class="box-pdf">
                            <p class="italic text-center">Visa du centre</p>
                        </div>
                    </div>
                    <div class="col-xs-4 ">
                        <div class="box-pdf">
                            <p class="italic text-center">Signature</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <footer>
            <hr>
            <div class="row ">
                <p class="bold text-size-10 text-center">ISPN - 6, Av. du Maréchal Montgomery - 14000 CAEN - 02 31 93 09 12
                    - info@ispn.fr - www.ispn.fr</p>
                <p class="text-size-10 text-center"> Sté Arcade SUP' SARL au capital de 10000 euros - SIRET : 804 143 014
                    00012 - Enregistré sous le N° 25
                    14 02766 14 auprès du Préfet de Basse-Normandie. Enseignement Privé Hors Contrat.</p>
            </div>
        </footer>
    </div>
</div>
</body>
</html>