<tr class="collapse course{{ courseCategory.course.id }} course-category">
    <td>
        <div class="collapse course{{ courseCategory.course.id }}">{{ courseCategory.name }}</div>
    </td>
    <td>
        <a data-id="{{ courseCategory.id }}" class="btn btn-primary btn-xs ajaxEditCategory"><i class="fa fa-edit"></i></a>
        <a data-id="{{ courseCategory.id }}" class="btn btn-danger btn-xs ajaxDeleteCategory"><i class="fa fa-remove"></i></a>
    </td>

</tr>