{% form_theme form 'bootstrap_3_layout.html.twig' 'QcmBundle::jquery.collection.html.twig' %}
<div id="crudModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ajout d'un document</h4>
            </div>
            <div class="modal-body">
                <form method="POST" class="ajaxForm" action="{{ form.vars.action }}">
                    <div class="form-group">
                        {{ form_errors(form) }}
                        {{ form_label(form.name, "Nom :") }}
                        {{ form_widget(form.name) }}
                        <div class="bg-danger">{{ form_errors(form.name) }}</div>
                    </div>
                    <div class="form-group">
                        {{ form_errors(form) }}
                        {{ form_label(form.path, "Chemin :") }}
                        {{ form_widget(form.path) }}
                        <div class="bg-danger">{{ form_errors(form.path) }}</div>
                    </div>
                    <div class="form-group">
                        {{ form_errors(form) }}
                        {{ form_label(form.docRelation, "Sections :") }}
                        {{ form_widget(form.docRelation) }}
                        <div class="bg-danger">{{ form_errors(form.docRelation) }}</div>
                    </div>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                    {{ form_label(form.save) }}
                    {{ form_widget(form.save) }}
                    {{ form_rest(form) }}
                </form>
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('public/js/controller/dynamicSection.js') }}"></script>
