<tr>
    <td>{{ section.name }}</td>
    <td>{{ section.promotion|date('Y') }}</td>
    <td>
        <a href="{{ path('app_student_display', {'id' : section.id}) }}" class="btn btn-success btn-xs">Voir les
            élèves</a>
        {% if "ROLE_ADMIN" in app.user.roles %}
            <a data-id="{{ section.id }}" class="btn btn-info btn-xs display-pdf">Rattrapages</a>
            <a data-id="{{ section.id }}" href="" class="btn btn-primary btn-xs ajaxEdit"><i class="fa fa-edit"></i></a>
            <a data-id="{{ section.id }}" class="btn btn-danger btn-xs ajaxDelete"><i class="fa fa-remove"></i></a>
        {% endif %}
    </td>
</tr>