<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('public/css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/css/form.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/css/student/main.css') }}">

</head>
<body>
<div class="bg-img"></div>
<div class="content">

    <div class="form-signin">
        <h2 class="form-signin-heading text-center">Inscription</h2>
        {{ form_start(form) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>




</div>
</div>
</body>
</html>
